<div class="container old-md-6 text-center">
    <button class="btn btn-primary" onclick="return alert('Hello vanchienn_')">Click me</button><br>
    <button class="btn btn-danger" onclick="return confirm('Are you sure to delete?')">Delete</button>
    <h1>{{country}}</h1>
    <h1>{{year}}</h1>
    <h1>{{grade}}</h1>
    <h1>{{pass}}</h1>
    <h1>{{gender}}</h1>
    {{!-- heach --}}
    <table class="table table-primary">
        <tr><th>Sports</th></tr>
        {{#each sports }}
            <tr>
                <td>{{this}}</td>
            </tr>
        {{/each}}
    </table>
</div>

